.deck-container {
	font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
	font-size:1.75em;
	color:#aaa;
	background:#000;

	.slide {
		background:#000;

		h1 {
			color:#0af;
			font-weight:normal;
			font-weight:100;
			text-shadow:0 0 50px #0af, 0 0 3px #fff;
		}

		h1 span{
			font-size: 30px;
			display: block;
			color: #999;
			text-shadow: none;
		}

		h1 strong{
			font-size: 0.6em;
			background:#fff;
			color: #000;
			display: block;
			position:absolute !important;
			top: -220px !important;
			width: 60%;
			margin: 0 auto;
			left: 50% !important;
			margin-left: -30%;
			text-shadow:none;
		}

		h2 {
			color:#af0;
			border-bottom-color:#ccc;
			font-weight:normal;
			font-weight:100;
			text-shadow:0 0 15px #af0, 0 0 2px #fff;
			border-bottom:1px solid #333;
		}

		h3 {
			color:#fff;
			font-weight:normal;
			font-weight:100;
			text-shadow:0 0 10px #fff, 0 0 2px #fff;
		}

		pre {
			border-color:#333;

			code {
				color:#fff;
			}
		}

		code {
			color:#f0a;
		}

		blockquote {
			font-size:2em;
			padding:1em 2em;
			color:#fff;
			border-left:5px solid #fff;

			p {
				margin:0;
			}

			cite {
				font-size:.5em;
				font-style:normal;
				font-weight:normal;
				font-weight:100;
				color:#aaa;
				text-shadow:0 0 15px #fff, 0 0 2px #fff;
			}
		}

		::-moz-selection{ background:#a0f; }
		::selection { background:#a0f; }

		a {
			&, &:hover, &:focus, &:active, &:visited {
				color:#f0a;
				text-decoration:none;
			}

			&:hover, &:focus {
				text-decoration:underline;
			}
		}
	}

	.deck-prev-link, .deck-next-link {
		background:#f0a;
		text-shadow:0 0 3px #fff;

		&, &:hover, &:focus, &:active, &:visited {
			color:#fff;
		}

		&:hover, &:focus {
			text-decoration:none;

			.boxshadow & {
				-webkit-box-shadow:0 0 20px #f0a, 0 0 5px #fff;
				-moz-box-shadow:0 0 20px #f0a, 0 0 5px #fff;
				box-shadow:0 0 20px #f0a, 0 0 5px #fff;
			}
		}
	}

	> .slide {
		.deck-before, .deck-previous {
			opacity:0.4;

			&:not(.deck-child-current) {
				.deck-before, .deck-previous {
					opacity:1;
				}
			}
		}

		.deck-child-current {
			opacity:1;
		}
	}

	.deck-status {
		font-size:0.6666em;
	}

	.goto-form {
		background:#000;
		border:1px solid #f0a;

		label {
			color:#fff;
		}
	}

	&.deck-menu {
		.slide {
			background:#333;
		}

		.deck-current {
			background:#444;

			.boxshadow & {
				background:#000;
				-webkit-box-shadow:0 0 20px #f0a, 0 0 5px #fff;
				-moz-box-shadow:0 0 20px #f0a, 0 0 5px #fff;
				box-shadow:0 0 20px #f0a, 0 0 5px #fff;
			}
		}

		.no-touch & .slide:hover {
			background:#444;
		}

		.no-touch.boxshadow & .slide:hover {
			background:#000;
			-webkit-box-shadow:0 0 20px #f0a, 0 0 5px #fff;
			-moz-box-shadow:0 0 20px #f0a, 0 0 5px #fff;
			box-shadow:0 0 20px #f0a, 0 0 5px #fff;
		}
	}
}


@import "grids";

.row pre{
	font-size: 0.8em;
	margin-right: 20px;
}


.logo{
  padding-top:30px !important; text-align:center;
  
	h1{ font-size: 1000% !important; color: #25afad !important; position: relative !important; left: auto!important; right: auto !important; top: auto !important; text-transform: uppercase !important; font-family:"Arial Black"; text-shadow:none !important; margin: 20px auto 0 auto !important; line-height: 1; padding: 0 !important; padding-top: 10px; -webkit-transform: translate(0,0) !important; letter-spacing:-20px !important; -webkit-transition: all 0.2s ease-in; display:inline-block; text-align:center; }

	h1  span{
		color: #fff !important;
		display: inline-block !important;
		font-size: 68% !important;
		margin-left: -120px;
	}
	
	h1 > b{
	  position:absolute;
	  right:20px;
	  top:48px;
	  font-size: 45px !important;
	  letter-spacing:-1px !important;
	  color:#999;
	}

	h1 > em{
		display: block;
		font-style: normal;
		font-size: 70%;
		margin-left:4px;
		margin-top: -50px;
		color: #777;
		-webkit-text-stroke: 1px #999;
		letter-spacing: -14px !important;
	}
}

.slide foot{
  position:fixed;
  left:0;
  bottom:0;
  background:#222;
  opacity:0.7;
  padding:20px 50px;
  -webkit-box-sizing: border-box;
  width:100%;
  text-align:right;
  
  > a:first-child{
    float:left;
  }
}

.zoomin{
  -webkit-animation: zoom 0.7s ease-out;
  -webkit-animation-iteration-count: 1;
}

@-webkit-keyframes swing {
	20%, 40%, 60%, 80%, 100% { -webkit-transform-origin: top center; }
  	20% { -webkit-transform: rotate(1deg); }	
  	40% { -webkit-transform: rotate(-0.8deg); }
  	60% { -webkit-transform: rotate(0.5deg); }	
  	80% { -webkit-transform: rotate(-0.5deg); }	
  	100% { -webkit-transform: rotate(0deg); }
}


.swing {
	-webkit-transform-origin: top center;    
  -webkit-animation-name: swing, zoom;
  -webkit-animation-duration: 2s,0.7s;
  -webkit-animation-iteration-count: infinite, 1;
  -webkit-animation-delay: 1s, 0;
}

@-webkit-keyframes zoom {
  
  0% {
  		opacity: 0;
  		-webkit-transform: scale(.3);
  	}

  	50% {
  		opacity: 1;
  		-webkit-transform: scale(1.05);
  	}

  	70% {
  		-webkit-transform: scale(.9);
  	}

  	100% {
  		-webkit-transform: scale(1);
  	}
}