.module{
  width: 500px;
  float: left;

  @media only screen and (max-width: 480px){
    width: auto;
    float: none;
  }
}

header{
  height: 200px;

  @media only screen and (max-width: 480px){
    height: auto;
  }
}